<div class="container">
  <h1 class="text-center">Products User</h1>
  <section class="row text-center">
    <a href="<%= new_products_user_path %>" class="btn btn-default">New </a>
  </section>
</div>
