<div class="container">
  <article class="row">
    <ul>
      <li class="col-md-2"><strong><%= @product.product_name %></strong></li>
      <li class="col-md-2"><IMG SRC = '<%= @product.product_image_url %>'></li>
      <li class="col-md-2"><strong><%= @product.product_price %></strong></li>
      <li class="col-md-2"><a href="<%= product_path(@product.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
    </ul>
  </article>
</div>
